.about {
  text-align: center;
  background-color: var(--bh-main-grey);
  padding: 58px 30px 100px;
  color: var(--color-main-black);
}

.about-title {
  font-size: 34px;
  font-weight: 700;
  margin: 0 0 42px 0;
}

.about-subtitle-ru,
.about-subtitle-en {
  margin: 0 auto 15px;
  font-size: 18px;
  font-weight: 500;
  max-width: 780px;
}

.about-description-ru {
  margin: 0 0 15px 0;
}

.about-description-ru,
.about-description-en {
  font-size: 18px;
  font-weight: 500;
  text-align: justify;
  max-width: 780px;
  margin: 0 auto;
}

.about-subtitle-en {
  margin: 17px auto 15px;
}

@media (max-width: 480px) {
  .about-subtitle-ru,
  .about-subtitle-en,
  .about-description-ru,
  .about-description-en {
    font-size: 14px;
    font-weight: 500px;
  }
}
